@charset "UTF-8";
:root {
  --main-text-color: #212121;
  --accent-color: #2196F3;
  --title-color: #212121;
  --dark-bg-color: #2F303A;
  --second-bg-color: #E5E5E5;
  --mailto-color:#757575;
  --text-button:#FFFFFF;
  --bg-button:#2196F3;
  --page-portfolio:#757575;
  --page-title-portfolio:#212121;
  --mailto-footer:rgba(255, 255, 255, 0.6);
  --tel-footer:rgba(255, 255, 255, 0.6);
  --icon-color: #AFB1B8;
  --icon-footer-color:#FFFFFF;
  --animation: 250ms ease-in;
  --transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-whole: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --examples-border-color:#EEEEEE;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: 1px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #212121;
  background-color: #FFFFFF;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 480px) {
  .img {
    max-width: calc((100% - 30px * 1) / 1);
  }
}

@media screen and (min-width: 768px) {
  .img {
    max-width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 768px) {
  .img {
    max-width: calc((100% - 30px * 4) / 4);
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.navigation {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
}

.teem {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.blok {
  display: block;
  margin-top: 9px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: red;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    background-color: aqua;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    background-color: yellow;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    background-color: green;
  }
}

.container-mark-work {
  padding-top: 94px;
}

.doing-thumb {
  position: relative;
}

.adress {
  margin-top: 20px;
}

address.link_mailto {
  font-style: normal;
}

address {
  font-style: normal;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  cursor: pointer;
  transition: box-shadow var(--transition-whole), background-color var(--transition-whole);
}

.button-portfolio {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  transition: box-shadow var(--transition-whole), background-color var(--transition-whole), color var(--title-color);
}

.button-portfolio:hover, .button-portfolio:focus {
  background-color: var(--bg-button);
  color: var(--text-button);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow var(--transition-whole), background-color var(--transition-whole);
}

.button-hero {
  display: inline-block;
  padding: 10px 32px 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px;
  border: none;
  transition: box-shadow var(--transition-whole), background-color var(--transition-whole);
}

.modal-button {
  bottom: 40px;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-signup {
  display: inline-flex;
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  align-items: center;
  background-color: var(--accent-color);
  margin-left: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: color var(--transition-whole);
}

.link:hover, .link:focus {
  color: var(--accent-color);
  transition: color var(--transition-whole);
}

.link.current {
  color: var(--accent-color);
}

.mailto-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mailto-footer);
  transition: color var(--animation);
}

.mailto-footer:hover, .mailto-footer:focus {
  color: var(--accent-color);
}

.menu-link {
  display: flex;
  transition: color var(--animation);
  margin-left: auto;
}

.link-mailto {
  display: flex;
  margin-right: 30px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mailto-color);
  display: block;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.link-mailto:hover, .link-mailto:focus {
  stroke: currentColor;
}

.link-mailto:last-child {
  margin-right: 0;
}

.link-mailto:hover .icon-letter,
.link-mailto:focus .icon-letter {
  fill: var(--accent-color);
}

.list-link {
  margin-right: 50px;
  align-items: center;
  transition: color var(--animation);
}

.link-tel {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mailto-color);
  transition: color var(--animation);
}

.link-tel:hover .icon-smartfone,
.link-tel:focus .icon-smartfone {
  fill: var(--accent-color);
}

.tel-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mailto-footer);
  transition: color var(--animation);
}

.letter-link {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.letter-link:hover .icon-letter,
.letter-link:focus .icon-letter {
  fill: var(--accent-color);
}

.smartfone-link {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.smartfone-link:hover .icon-smartfone,
.smartfone-link:focus .icon-smartfone {
  fill: var(--accent-color);
}

.examples-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.examples-link:hover, .examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.menu__decor::after {
  position: absolute;
  display: flex;
  background-color: var(--accent-color);
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transform: scaleX(0);
  transition: var(--transition-transform);
}

.menu__decor::after:hover::after, .menu__decor::after:focus::after {
  transform: scaleX(1);
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__activ-studio {
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu__activ-studio::after {
  position: absolute;
  display: flex;
  background-color: var(--accent-color);
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.menu__decor {
  padding-top: 32px;
  padding-bottom: 32px;
}

.socials-list {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-color);
  transition: color var(--animation);
}

.social-icons .icon {
  width: 20px;
  height: 20px;
  transition: fill var(--animation);
}

.social-icons-footer .icon-footer {
  width: 20px;
  height: 20px;
  transition: fill var(--animation);
}

.social-icons {
  display: flex;
  justify-content: center;
  transition: fill var(--animation);
}

.social-icons-footer {
  display: flex;
  transition: background-color var(--transition-whole);
}

.connection {
  display: flex;
  flex-direction: column;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-whole);
}

.social-icons-link:hover .icon,
.social-icons-link:focus .icon {
  fill: #fff;
}

.social-icons-link:hover, .social-icons-link:focus {
  background-color: var(--accent-color);
}

.social-icons-link:hover .icon-smartfone,
.social-icons-link:focus .icon-smartfone {
  fill: var(--accent-color);
}

.social-icons-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-whole);
}

.social-icons-link-footer:hover {
  color: var(--accent-color);
  transition: background-color var(--transition-whole);
}

.social-icons-link-footer:hover, .social-icons-link-footer:focus {
  background-color: var(--accent-color);
}

.social-icons-item + .social-icons-item {
  margin-left: 10px;
}

.header__logo {
  margin-right: 93px;
  color: var(--main-text-color);
  align-items: center;
}

.header__logo:hover, .header__logo:focus {
  color: var(--accent-color);
}

.logo-web {
  color: var(--accent-color);
}

.logo__footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-button);
}

.logo__footer:hover, .logo__footer:focus {
  color: var(--accent-color);
}

.icon,
.client-icon {
  fill: var(--icon-color);
}

.icon-footer {
  fill: var(--icon-footer-color);
  transition: fill var(--transition-whole);
}

.icon {
  transition: fill var(--transition-whole);
}

.client-icon {
  display: flex;
  max-height: 45px;
}

.client-icon-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color var(--transition-whole);
}

.client-icon-link:hover .client-icon,
.client-icon-link:focus .client-icon {
  fill: var(--accent-color);
  transition: color var(--transition-whole);
}

.client-icon-link:hover, .client-icon-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-icon-link .icon {
  fill: currentColor;
}

.icon .client-icon {
  fill: var(--icon-color);
}

.icon-letter {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.icon-smartfone {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.btn-close:hover .btn-close-icon {
  fill: var(--accent-color);
}

.smartfone {
  display: flex;
  align-items: center;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: color var(--animation);
}

.title-section {
  background-color: #2F303A;
}

.title-hero {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.list-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.page-list-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.page-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  min-width: 380px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.title-list-command {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.title-list-blok {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.page-title-portfolio {
  font-weight: bold;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--page-title-portfolio);
}

.whatwe-do-title {
  display: flex;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
}

.title {
  color: var(--title-color);
}

.title-list-command,
.page-list-command {
  text-align: center;
}

.page-title-portfolio,
.page-portfolio {
  width: 322px;
}

.page-title-portfolio {
  margin-bottom: 4px;
}

.list,
.list-command {
  list-style: none;
}

.page-list-command {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

.list-mark {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .list-mark__mark-item {
    width: calc((100% - 30px * 1) / 1);
  }
}

@media screen and (min-width: 768px) {
  .list-mark__mark-item {
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .list-mark__mark-item {
    width: calc((100% - 30px * 4) / 4);
  }
}

.list-mark__mark-item::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.list-mark__mark-item:nth-child(1)::before {
  background-image: url(../images/studio/mark-items/antenna.svg);
}

.list-mark__mark-item:nth-child(2)::before {
  background-image: url(../images/studio/mark-items/clock.svg);
}

.list-mark__mark-item:nth-child(3)::before {
  background-image: url(../images/studio/mark-items/diagram.svg);
}

.list-mark__mark-item:nth-child(4)::before {
  background-image: url(../images/studio/mark-items/astronaut.svg);
}

@media screen and (min-width: 1200px) {
  .list-mark .list-mark__mark-item + .list-mark__mark-item {
    margin-left: 30px;
  }
}

.list {
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}

.list-work {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.list-work .work-item + .list-work .work-item {
  margin-left: 30px;
}

@media screen and (min-width: 1200px) {
  .list-command {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-command {
    display: flex;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .list-command .command-item + .command-item {
    margin-left: 30px;
  }
}

.page-list-command {
  margin-top: 10px;
  margin-bottom: 16px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-blok {
  padding: 20px 24px;
  border-left: 1px solid var(--examples-border-color);
  border-right: 1px solid var(--examples-border-color);
  border-bottom: 1px solid var(--examples-border-color);
}

@media screen and (min-width: 1200px) {
  .clients {
    display: flex;
    width: 1005;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
  }
}

@media screen and (min-width: 1200px) {
  .client-item + .client-item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .client-item {
    width: calc((100%-45px)/2);
  }
}

@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100%-30px*3)/3);
  }
}

@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100%-30px*6)/6ы);
  }
}

.clients-block {
  padding-top: 94px;
  padding-bottom: 94px;
}

.letter {
  display: flex;
  align-items: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/Img9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.examples-overlay {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.item-examples-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(0);
  transition: var(--transition-transform);
}

.examples-link:focus .item-examples-overlay,
.examples-link:hover .item-examples-overlay {
  transform: translateY(-100%);
  opacity: 1;
}

.examples-overlay .text-examples {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: start;
  color: #fff;
}

.page__adress {
  margin-bottom: 9px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.page__portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--page-portfolio);
}

.cards-item::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 370px;
  height: 300px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.cards-item::before:hover::before {
  opacity: 1;
}

.cards-item::before:hover::before:focus::before {
  opacity: 1;
}

.cards-item-page {
  position: absolute;
  top: 50px;
  left: 24px;
  width: 322px;
  height: 168px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  letter-spacing: 0.03em;
  opacity: 0;
}

.cards-item-page:hover {
  opacity: 1;
}

.cards-item-page:focus {
  opacity: 1;
}

.cards-item {
  position: relative;
}

.cards-item:hover, .cards-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-item:nth-child(3n) {
  margin-right: 0;
}

.text-thumb {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  width: 370px;
  height: 70px;
}

.text-decor-thumb {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.work-item {
  width: 370px;
}

.command-item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .command-item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command-item {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .command-item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.examples__item {
  width: 370px;
  margin: 15px;
}

.btn-close-icon {
  width: 11px;
  height: 11px;
}

.form__label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__label:focus {
  border-color: #188ce8;
}

.form__input {
  display: block;
  margin-top: 4px;
  padding: 12px 12px 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.form__input:hover, .form__input:focus {
  border-color: var(--accent-color);
}

.form__input:hover + .modal-icon-name,
.form__input:focus + .modal-icon-name {
  fill: var(--accent-color);
  border: var(--accent-color);
}

.form__input:hover + .modal-icon-tel,
.form__input:focus + .modal-icon-tel {
  fill: var(--accent-color);
}

.form__input:hover + .modal-icon-mail,
.form__input:focus + .modal-icon-mail {
  fill: var(--accent-color);
}

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form__name {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60px;
  margin-bottom: 10px;
}

.form-area {
  margin-bottom: 20px;
}

.form-area::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__tel {
  position: relative;
  height: 60px;
  margin-bottom: 10px;
}

.form__mail {
  position: relative;
  height: 60px;
  margin-bottom: 10px;
}

.form-checkbox {
  position: relative;
}

textarea {
  resize: none;
}

.comments {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
}

.comments:hover, .commentss:focus {
  border-color: var(--accent-color);
}

.signup-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
}

.signup-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  margin-left: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 528px;
  padding: 40px 40px;
  background-color: #fff;
  border-radius: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: var(--transition-transform);
}

.modal-title {
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-icon-name {
  position: absolute;
  bottom: 16px;
  left: 15px;
  width: 12px;
  height: 12px;
  transform: translate(-50% -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-tel {
  position: absolute;
  bottom: 12px;
  left: 14px;
  width: 13px;
  height: 13px;
  transform: translate(-50% -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-mail {
  position: absolute;
  bottom: 13px;
  left: 15px;
  width: 15px;
  height: 12px;
  transform: translate(-50% -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-page {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-link {
  text-decoration: none;
  color: inherit;
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-modal {
  text-align: start;
  display: inline-block;
}

.checkbox-modal:checked + .icon-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icons/Vector5.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-modal:focus + .icon-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icons/Vector5.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.icon-checkbox {
  margin-right: 7px;
  margin-left: 12px;
  left: 0;
  bottom: 5px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-checkbox:focus {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(./images/icon/.icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.icon-checkbox:checked + .icon-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(./images/icon/.icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-link {
  margin: 0px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-whole);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: var(--transition-transform);
}

@media screen and (min-width: 1200px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 480px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-top: -30px;
  }
}

.grid__grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-top: 30px;
}

.grid__about-item {
  --grid-item: 3;
  margin-left: 30px;
}

.section-mark {
  width: 100%;
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .section-mark {
    padding: 94px;
  }
}

@media screen and (max-width: 480px) {
  .section-mark {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.doing-section {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .doing-section {
    display: none;
  }
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page__header {
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.header__logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2F303A;
}

.link .tel-footer {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-mailto-footer);
}

.footer__container {
  width: 231px;
  margin-right: 70px;
}

.footer-blok {
  display: flex;
}

.footer__link.link {
  margin-bottom: 20px;
  transition: fill var(--animation);
  transition: background-color var(--transition-whole);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-mailing {
  margin-left: 110px;
  min-width: 300px;
}

.form-footer {
  display: flex;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
/*# sourceMappingURL=style.css.map */