.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;       
    letter-spacing: 0.03em;
    color: var(--title-color);
    cursor: pointer;
    transition: box-shadow var(--transition-whole), background-color var(--transition-whole);     
}

.button-portfolio {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    letter-spacing: 0.03em;
    color: var(--title-color);
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    transition: box-shadow var(--transition-whole), background-color var(--transition-whole), color var(--title-color);
    
    &:hover,
    &:focus {
  background-color: var(--bg-button);
  color: var(--text-button);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow var(--transition-whole), background-color var(--transition-whole);
}
  }

.button-hero {
    display: inline-block;
    padding: 10px 32px 10px 32px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;    
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;   
    border-radius: 4px;
    cursor: pointer;
    min-width: 200px;
    border: none;
    transition: box-shadow var(--transition-whole), background-color var(--transition-whole);
        
    }

    .modal-button {       
        
        bottom: 40px;        
        margin: 0;
        padding: 0;
        width: 200px;
        height: 50px;      
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        background-color: var(--accent-color);
        color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        border: none;      
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .button-signup {
        @media screen and(min-width:1200px) {
        display: inline-flex;
        padding: 10px 32px;
        width: 200px;
        height: 50px;
        align-items: center;       
        background-color: var(--accent-color);
        margin-left: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.875;        
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        }
        @media screen and(min-width:480px) and(max-width:767px){
          display: block;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          padding: 10px 32px;
          width: 200px;
          height: 50px;               
          background-color: var(--accent-color);
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 1.875;        
          text-align: center;
          letter-spacing: 0.06em;
          color: #FFFFFF;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          border: none;
          }       
    }
