
    .btn-close-icon {
        width: 11px;
        height: 11px;
    }

    .form__label {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: #757575;
        &:focus{
            border-color: #188ce8;
        }
    }

    .form__input {
        display: block;
        margin-top: 4px;
        padding: 12px 12px 12px 42px;
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        
        &:hover,
        &:focus {
        border-color: var(--accent-color);
        }
        &:hover + .modal-icon-name,
        &:focus + .modal-icon-name {
        fill: var(--accent-color);
        border: var(--accent-color);
        }
        &:hover + .modal-icon-tel,
        &:focus + .modal-icon-tel {
        fill: var(--accent-color);
        }
        &:hover + .modal-icon-mail,
        &:focus + .modal-icon-mail {
        fill: var(--accent-color);
        }
    }

    .form {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .form__name {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 60px;
        margin-bottom: 10px;
    }

    .form-area {
        margin-bottom: 20px;
        &::placeholder {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
    }

    .form__tel {
        position: relative;
        height: 60px;
        margin-bottom: 10px;
    }

    .form__mail {
        position: relative;
        height: 60px;
        margin-bottom: 10px;
    }

    .form-checkbox {
        position: relative;
    }

    textarea {
        resize: none;
    }
    
    .comments {
        width: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        outline: none;
        padding: 12px 16px;
        &:hover,
        &s:focus {
        border-color: var(--accent-color); 
    }        
    }

    .signup-input { 
        @media screen and(min-width:1200px) {
        width: 358px;
        height: 50px;
        padding-left: 16px;
        color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color:#2F303A;  
        }      
        @media screen and(min-width:480px) {
            width: 450px;
            height: 50px;
            padding-left: 16px;
            color: rgba(255, 255, 255, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-sizing: border-box;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background-color:#2F303A;  
            }       
        
        
        
        &::placeholder {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .icon-send {
        margin-left: 10px;
    }

    