  .header__logo {
    margin-right: 93px;
    color: var(--main-text-color);
    align-items: center;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .logo-web {
    color: var(--accent-color);
}

.logo__footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;       
  letter-spacing: 0.03em;
  color: var( --text-button);
  &:hover,
  &:focus{
    color: var(--accent-color);
  }
  
}



