.container {   
        
width: 1200px;
padding: 0 15px;
margin: 0 auto;


}

.container-mark-work {
        padding-top: 94px;
                        
}

.doing-thumb {
        position: relative;
      }

