.footer {
    background-color: #2F303A;    
    }

    .link .tel-footer {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;      
        letter-spacing: 0.03em;
        color: var(--link-mailto-footer);
    }
    .footer__container {
        @media screen and(min-width:1200px) {
            display: block;
            width: 250px;
            
        }   
        @media screen and(min-width:480px) and(max-width:767px) {
            display: block;
            align-content: space-between;
            margin-bottom: 60px;
        } 
        @media screen and(min-width:768px) and(max-width:1199px){
            display: block;
            margin-left: 76px;
            margin-bottom: 60px;
        }                       
    }

    .footer-blok {
        
        @media screen and(min-width:480px) and(max-width:767.98px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: space-between;
        }
        @media screen and(min-width:768px) and(max-width:1199px) {
            display: flex;
            flex-wrap: wrap; 
            flex-basis: calc((100%-165px*2)/2);           
            
        }
        @media screen and(min-width:1200px) {
            display: flex;  
                   
            
        }
         
    }

    .footer__link.link {
        margin-bottom: 20px;
        transition: fill var(--animation);
        transition: background-color var(--transition-whole);
    }

    .footer__link{
        @media screen and(min-width:480px) and(max-width:767px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .footer {        
        padding-top: 60px;
        padding-bottom: 60px;       
        
    }

    .page-footer {
        margin-bottom: 20px;;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        @media screen and(min-width:480px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .footer-mailing {
       @media screen and(min-width:1200px) {
        margin-left: 93px;
        min-width: 300px;
       }
       @media screen and(min-width:480px) and(max-width:767px) {   
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: unset;
        width: 450px;
        margin-left: 0;
        margin-top: 60px;
       }
       @media screen and(min-width:768px) and(max-width:1199px) {   
        display: flex;
        flex-direction: column;
        align-items: center;        
        width: 450px;
        margin-left: auto;
        margin-right: auto;        
       }
    }

    .form-footer {
        @media screen and(min-width:1200px) {
            display: flex;
           }

           @media screen and(min-width:480px) and (max-width:1199px) {
            display: block;
           }
        
    }