.page__header {
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    align-items: center;        
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;      
    }  

.header__logo {
    @media screen and(max-width:767.98px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;       
    letter-spacing: 0.03em;    
  }

  